
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>

      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>

      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<app-button label="Cadastrar"></app-button>

<!-- <div class="container">
  <form>
    <app-label-input label="Nome" type= 'text'></app-label-input>
    <app-label-input label="Email" type='email'></app-label-input>
    <app-label-input label="CPF" type= 'text'></app-label-input>
    <app-label-input label="Observações" type= 'text'></app-label-input>
    <app-button></app-button>
</form>
</div> -->
