<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
      <th scope="col">Observação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto@gmail.com</td>
      <td>@mdo</td>
      <td>É bonito</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>É feio</td>
    </tr>
    <tr>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>Tuiter</td>
    </tr>
  </tbody>
</table>

<app-button label="Cadastrar" routerLink="/cliente/cadastrar"></app-button>
