<h1 class="my-3">Saque</h1>

<form [formGroup]="formGroup">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Agência</label>
        <input class="form-control" type="text" aria-label="default input example" formControlName="agencia">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Número da Conta</label>
        <input class="form-control" type="text" aria-label="default input example" formControlName="numeroConta">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Valor</label>
        <input class="form-control" type="text" aria-label="default input example" formControlName="valor">
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="enviarDados()">Enviar</button>
</form>

<div *ngIf="loading" class="spinner-border my-4" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<br>

