<h1>Conta</h1>
<!-- <p *ngIf="!cliente.length" class="mt-2">
  Loading...
</p> -->
<div class="mt-2">
  <app-button label="Cadastrar" routerLink="/conta/cadastrar"></app-button>
</div>


<div *ngIf="!contas.length" class="spinner-border my-4" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Agência</th>
      <th>Conta</th>
      <th>Cliente</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">  <!--- para mostrar a lista de contas -->
      <td>{{ conta.agencia }}</td>
      <td> {{ conta.numero }} </td>
      <td> {{ conta.cliente.nome }} - {{ helper.maskCpf(conta.cliente.cpf) }}</td>
      <td>{{ conta.saldo | currency: "BRL" }}</td>
    </tr>
  </tbody>
</table>


