<form [formGroup]="formGroup">
  <div class="card card-body my-3">
    <legend class="my-3">Dados da Conta</legend>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Agência</label>
          <input
            class="form-control"
            type="text"
            aria-label="default input example" formControlName="agencia"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Número da Conta</label
          >
          <input
            class="form-control"
            type="text"
            aria-label="default input example" formControlName="numero"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Saldo</label>
          <input
            class="form-control"
            type="text"
            aria-label="default input example" formControlName="saldo"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body my-3" formGroupName="cliente">
    <legend class="my-3">Dados do Cliente</legend>
    <div class="row">
      <label for="exampleFormControlInput1" class="form-label">CPF</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="cpf">
        <span class="input-group-text"><a (click)="buscarCpf(formGroup.value.cliente.cpf)"><i class="fas fa-search"></i></a></span>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Nome</label>
          <input
            class="form-control"
            type="text"
            aria-label="default input example" formControlName="nome"
          />
        </div>
      </div>
    </div>
  </div>
</form>

<button class="btn btn-primary" (click)="enviarDados()">Enviar</button>

<div *ngIf="loading" class="spinner-border my-4" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
